@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML */

html {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    background-repeat: no-repeat;
}

html {
    @apply flex justify-center items-center
}

body {
    max-width: 425px;
}

body {
    @apply w-full
}

/* header */
header {
    @apply w-full h-auto
}

.main-banner {
    @apply w-full h-auto px-2 mt-4 mb-2 flex justify-between items-center
}

.main-banner--container {
    @apply w-1/2 h-auto flex items-center justify-center
}

.powered-by {
    font-size: 0.6rem;
    padding-right: 0.3rem;
}

/* nav  */
nav {
    @apply w-10/12 h-7 mx-auto
}

.nav-bar--selections {
    @apply  w-full h-auto flex items-center text-xs justify-around p-1
}

.nav-bar--search {
    @apply w-full h-auto flex justify-center items-center p-1
}

.nav-button {
    @apply pr-3
}

.search-bar {
    @apply w-48 h-5 rounded-lg transform duration-300 focus:w-80 text-xs px-2 text-[#04619f] placeholder:text-[#04619f]
}

.nav-select {
    @apply h-5 rounded-lg text-[#04619f]
}

/* main */
main {
    @apply w-full h-auto mb-14
}

/* trending poster*/
.trending {
    @apply mt-2 mb-4 px-4
}

.trending-article {
    @apply w-full h-56 items-center overflow-x-auto overscroll-x-contain flex space-x-3 snap-mandatory snap-x
}

.trending-poster {
    @apply w-full h-52 rounded-lg border-blue-800 border-2 flex-none flex justify-start items-end snap-center
}

.trending-poster {
    /* background-image: url('https://image.tmdb.org/t/p/w300/egoyMDLqCxzjnSrWOz50uLlJWmD.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trending_search {
    @apply flex justify-evenly items-end flex-wrap pb-3
}

.trending-poster--search_search {
    @apply w-44 h-64 rounded-lg border-blue-800 border-2 mb-6
}

.trending-poster--search_search {
    background-image: url('https://image.tmdb.org/t/p/w300/9Gtg2DzBhmYamXBS1hKAhiwbBKS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trending-poster--title {
    @apply py-1 px-2 ml-2 rounded-lg mb-2 leading-none
}

.trending-poster--title {
    min-width: auto;
    max-width: 95%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Más populaes */
.popular, .top-rate, .upcoming {
    @apply px-4 py-1
}

.popular-container--poster, .top-rate-container--poster, .upcoming-container--poster {
    @apply w-full h-52 items-center overflow-x-auto overscroll-x-contain flex space-x-2
}

.popular-poster, .top-rate-poster, .upcoming-poster {
    @apply w-32 h-48 rounded-lg border-blue-800 border-2 flex-none
}

.popular-poster, .top-rate-poster, .upcoming-poster {
    background-image: url('https://image.tmdb.org/t/p/w300/9Gtg2DzBhmYamXBS1hKAhiwbBKS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    @apply text-lg tracking-wide font-semibold pl-3
}

/* footer */
footer {
    max-width: 425px;
}

footer {
    @apply w-full h-14 justify-evenly flex bg-[#04619f] fixed bottom-0
}

.footer {
    border-top: 2px solid white;
}

.footer a {
    @apply w-16 h-full flex justify-center items-center
}

.inactive {
    display: none;
}