@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML */

html {
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 5%, #04619f 75%);
    background-repeat: no-repeat;
}

html {
    @apply flex justify-center items-center
}

body {
    max-width: 425px;
    @apply w-full h-screen h-full
}

/* header */
header {
    @apply w-full h-auto
}

.main-banner {
    width: 100%;
    border-bottom: 2px solid white;
    @apply h-auto mb-3 py-4 mx-auto flex justify-around fixed top-0 bg-[#000304]
}

.main-banner--container-logo {
    @apply h-auto flex items-end justify-center
}

.main-banner--container {
    @apply h-auto flex flex-col justify-end items-end
}

.powered-by {
    font-size: 0.6rem;
    padding-right: 0.3rem;
}

/* nav  */
nav {
    width: 100%;
    margin-top: 70px;
    @apply h-auto mx-auto
}

.nav-bar--selections {
    @apply  w-full h-auto flex items-center text-xs justify-around p-1
}

.nav-bar--search {
    @apply w-full h-auto flex justify-center items-center p-1
}

.nav-button {
    @apply pr-3
}

.search-bar {
    @apply w-48 h-5 rounded-lg transform duration-300 focus:w-72 text-xs font-semibold px-2 text-[#04619f] placeholder:text-[#04619f] outline-none focus:outline-[#04619f] placeholder:text-center placeholder:opacity-80
}

.nav-select {
    @apply h-5 rounded-lg text-[#04619f] outline-none font-semibold text-opacity-80
}

/* main */
main {
    @apply w-full h-auto mb-14
}

/* trending poster*/
.trending {
    @apply mb-3 px-4
}

.trending-article {
    @apply w-full h-52 items-center overflow-x-auto overscroll-x-contain flex space-x-12 snap-mandatory snap-x
}

.trending-poster {
    @apply w-full h-52 rounded-lg border-blue-800 border-2 flex-none flex justify-start items-end snap-center
}

.trending-poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.completeMovieListSection {
    @apply flex justify-evenly items-end flex-wrap pb-3
}

.completeMovieListSection--poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @apply w-44 h-64 rounded-lg border-blue-800 border-2 mb-6
}

.trending-poster--title {
    min-width: auto;
    max-width: 95%;
    background-color: rgba(0, 0, 0, 0.7);
    @apply py-1 px-2 ml-2 rounded-lg mb-2 leading-none
}

.titlePosterMissingImg {
    background-color: rgba(0, 0, 0, 0.7);
    @apply text-center mt-28 py-2
}

/* Más populaes */
.popular, .top-rate, .upcoming, .movieSection {
    @apply px-4 py-1
}

.popular-container--poster, .top-rate-container--poster, .upcoming-container--poster {
    @apply w-full h-52 items-center overflow-x-auto overscroll-x-contain flex space-x-2
}

.popular-poster, .top-rate-poster, .upcoming-poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @apply w-32 h-48 rounded-lg border-blue-800 border-2 flex-none
}

.title {
    @apply text-lg tracking-wide font-semibold pl-3
}

.seeMoreButton { 
    @apply mr-2 text-xs
}

.titleAndButton {
    @apply flex items-end justify-between
}

/* footer */
footer {
    max-width: 425px;
    @apply w-full h-14 justify-evenly flex bg-[#04619f] fixed bottom-0
}

.footer {
    border-top: 2px solid white;
}

.footer a {
    @apply w-16 h-full flex justify-center items-center
}

.inactive {
    display: none;
}